<appSettings>

  <add key="FacebookAppId" value="503457166863648" />
  <add key="FacebookAppSecret" value="e9e1149654a4d07a3dc1c29871dc7aed" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>